@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./ResetCSS.css");
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin-right: calc(100% - 100vw);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    padding-bottom: 250px;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #000000 0%, #0d0e0e 50%, #000000 100%);
    word-wrap: break-word;
    margin-right: calc(100vw - 100%);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
